@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "lato", sans-serif;
}

body {
    width: 360px;
    background-color: #FFFDF3;
}

nav {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
}

.logo img {
    width: 144.77px;
    height: 22.56px;
    object-fit: contain;
}

.logo {
    margin: 16px auto 16px 24px;
}

main {
    width: 320px;
    background-color: #FFFFFF;
    margin: 28px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin: 20px;
}

.registerHeader h3 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #222325;
    margin-bottom: 10px;
}

.registerHeader p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #333333AD;
}

.registerInputs {
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flag {
    display: none;
}

.labelContainer {
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.asterisk {
    color: red;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
    padding: 4px 10px;
    border: 1px solid #3A35411F;
    border-radius: 4px;
}

.genderSelect {
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    font-size: 1.6rem;
    padding: 4px 10px;
    border: 1px solid #3A35411F;
    border-radius: 4px;
    margin-bottom: 12px;
    cursor: pointer;
}

.phoneWrapper {
    display: flex;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;
}

.regionWrapper {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #3A35411F;
    border-radius: 4px;
}

.flagBox {
    width: 44px;
    height: 48px;
    background-color: #F4F5FA;
    padding: 6px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flagBox img {
    width: 24px;
    height: 24px;
    display: block;
}

.regionSelect {
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    font-size: 1.6rem;
    padding: 0;
    border: none;
    cursor: pointer;
}

.phoneWrapper input {
    flex: 1;
    height: 48px;
    border: 1px solid #f1f1f1;
    font-size: 1.6rem;
    margin-left: 24px;
    margin-bottom: 0;
    padding: 8px;
    border-radius: 8px;
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.passwordWrapper img {
    position: absolute;
    right: 12px;
    top: 8.5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

a {
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    font-family: "DM Sans";
    font-style: medium;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #333333AD;
    text-decoration: none;
    text-align: right;
}

a:hover {
    color: #aaaaaa;
}

a:active {
    color: #000000;
}

.loginButtons {
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

:is(button) {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.2px;
    padding: 7px 0;
}

.bttn-masuk {
    background-color: #3ECF4C;
    color: #FFFF;
    border: 1px solid #3ECF4C;
    margin-bottom: 16px;
}

.bttn-masuk:hover {
    background-color: #42ee53;
}

.bttn-masuk:active {
    background-color: #3ECF4C;
}

.bttn-daftar {
    background-color: #E2FCD9CC;
    color: #3ECF4C;
    border: 1px solid #E2FCD9CC;
    margin-bottom: 20px;
}

.bttn-daftar:hover {
    background-color: #b9f9a4cc;
}

.bttn-daftar:active {
    background-color: #E2FCD9CC;
}

.divContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 8px;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "DM Sans";
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #4A505C;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    background-color: #000;
    border-bottom: 1px solid #ccc;
}

.divider::before {
    margin-right: 1rem;
}

.divider::after {
    margin-left: 1rem;
}

.bttn-gmail {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #4A505C;
    border: 1px solid #F1F1F1;
}

.bttn-gmail:hover {
    background-color: #c3c3c3;
}

.bttn-gmail:active {
    background-color: #FFFFFF;
}

@media (min-width: 1440px) {
    body {
        width: 100vw;
    }

    .logo {
        margin-left: 120px;
    }

    main {
        width: 590px;
        margin-top: 163.5px;
    }

    .registerHeader {
        width: 518px;
        margin: 36px;
    }

    .registerInputs {
        width: 518px;
        margin-bottom: 36px;
    }

    .loginButtons {
        width: 518px;
        margin-bottom: 36px;
    }
}